.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* src/index.css */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* height of sticky header */
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

